/* Секция Наша команда */
.command {
  background-color: var(--secondary-bg-color);
}
.command__secondary-title {
  margin-bottom: 50px;
}
.command__list {
  display: flex;
}
.command__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.command__third-title {
  margin-bottom: 10px;
}
.command__text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 16px;
}
.command__thumb {
  padding: 30px 32px;
}
.command__social {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.command__link {
  @extend %centeredFlex;

  border-radius: 50%;
  width: 44px;
  height: 44px;

  color: var(--icon-color);
  background-color: var(--primary-bg-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
  }
}

.command__icon {
  fill: currentColor;
}

