.button {
  cursor: pointer;
  font-family: roboto, sans-serif;

  min-width: 200px;
  min-height: 50px;

  color: var(--third-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
}

.close-button {
  position: absolute;

  @extend %centeredFlex;

  cursor: pointer;
  font-family: roboto, sans-serif;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--primary-bg-color);
  &:hover,
  &:focus .close-button__icon {
    fill: var(--accent-color);
  }
}
.close-button__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  cursor: pointer;
  font-family: roboto, sans-serif;

  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border-color: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
