.request {
  width: 100%;
  height: 100%;
  padding: 40px;
}
.request__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.request__field {
  position: relative;

  &:focus-within .request__input {
    border: 1px solid var(--accent-color);
    outline: none;
  }
  &:focus-within .request__textarea {
    border: 1px solid var(--accent-color);
    outline: none;
  }
  &:focus-within .request__icon {
    fill: var(--accent-color);
  }
}
.request__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.request__label {
  display: block;
  width: 100%;

  margin: 0 0 4px 0;
  text-align: left;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.request__input {
  display: block;
  width: 100%;

  padding: 12px 16px 12px 42px;
  margin: 0 0 10px 0;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.request__textarea {
  padding: 12px;
  margin-bottom: 20px;

  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.policy {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.policy__link {
  color: var(--accent-color);
}

.policy__checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
}
.policy__icon {
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy__checkbox:checked + .policy__icon {
  background-color: var(--accent-color);
  border: none;
}
.form__button:hover,
.form__button:focus {
  background-color: var(--button-hover-bg-color);
}
