body {
    background-color: var(--primary-bg-color);
  
    font-family: roboto, sans-serif;
  }
  /* Убирает точки у немаркированного списка. Убирает margin и padding по умолчанию для ul */
  ul,
  ol {
    list-style: none;
  
    margin: 0;
    padding: 0;
  }
  /* Убирает margin и padding по умолчанию для h1, h2, h3. h4, h5, h6, p */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* Убирает подчеркивание у всех ссылок */
  a {
    text-decoration: none;
  }